BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# 12MHz clock
LOCATE COMP "clk" SITE "A10";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "serdes_rx_p" SITE "Y5";
LOCATE COMP "serdes_rx_n" SITE "Y6";
LOCATE COMP "serdes_tx_p" SITE "W4";
LOCATE COMP "serdes_tx_n" SITE "W5";

LOCATE COMP "led[0]" SITE "A13";
LOCATE COMP "led[1]" SITE "A12";
LOCATE COMP "led[2]" SITE "B19";
LOCATE COMP "led[3]" SITE "A18";
LOCATE COMP "led[4]" SITE "B18";
LOCATE COMP "led[5]" SITE "C17";
LOCATE COMP "led[6]" SITE "A17";
LOCATE COMP "led[7]" SITE "B17";

IOBUF PORT "led[0]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS25;

LOCATE COMP "rstn" SITE "P4" ;
IOBUF PORT "rstn" IO_TYPE=LVCMOS33;

LOCATE COMP "tp0" SITE "K4";
IOBUF PORT "tp0" IO_TYPE=LVCMOS33;

LOCATE COMP "tp1" SITE "P1";
IOBUF PORT "tp1" IO_TYPE=LVCMOS33;

LOCATE COMP "tp2" SITE "N1";
IOBUF PORT "tp2" IO_TYPE=LVCMOS33;

